@media (max-width: 1440px) {
  .ticket__item {
    min-height: 150px;
  }

  .finance-pag {
    width: 100%;
  }
  .finance__nav {
    top: 100px;
    left: 150px;
  }

  .finance-open {
    justify-content: space-between;
    flex-direction: column-reverse;

    &__left-part {
      width: 100%;
      margin-right: 0px;
    }

    &__right-part {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &__time {
      height: 60px;
      margin-top: 30px;
      width: 49%;
    }
    &__currency-block {
      width: 49%;
      margin-top: 30px;
      padding-bottom: 30px;
      height: 60px;
      transition: all 1s ease-out;
      overflow: hidden;
    }
  }
  .first-column {
    margin-top: 15px;
  }

  .select__icon-finance {
    display: block;
  }
  .finance-open__currency-block.active {
    padding-bottom: 280px;
  }
  .select__icon-finance.active {
    transform: rotate(180deg);
  }
}
@media (max-width: 1350px) {

  .personal__frame {
    padding-bottom: 40px;
}

  .account-img-main{
    width: 700px;
  }
  .account-main-i{
    height: 250px;
  }

}



@media (max-width: 1100px) {
  .account-img-main{
    width: 500px;
  }
  .account-main-i{
    height: 180px;
  }

  .personal__list {
    margin-left: 65px;
    &:before{
    left: -37px;
      }
    }

    .personal__panel{
      flex: 0 0 270px;
      // width: 270px;
      margin-right: 15px;
    }

  .ticket__item {
    min-height: 120px;
  }
  .select__icon-finance {
    right: -12%;
  }

  .first-column {
    &:nth-child(2) {
      transform: translateX(0px);
    }
  }
}


@media (max-width: 1024px) {
  .account-img-main{
    margin-top: -50px;
    width: 100%;
  }
  .account-main-i{
    height: 170px;
  }

  .personal__welcome {
    margin-top: 20px;
  }

  }



@media (max-width: 996px) {
  .personal__welcome {
    font-size: 25px;
  }
  .account-img-main{
    margin-top: -50px;
    
    
  }
  .account-main-i{
    max-height: 165px;
    height: auto;
  }

  .wrapper-withaut-p {
    padding-top: 0;
  }

  .br-main-title {
    display: none;
  }

  .finance-open__img-b {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .greetings__title.finance {
    margin: 0 auto;
    text-align: center;
  }

  .finance__nav {
    font-size: 14px;
    top: 70px;
    left: 70px;
  }
  .finance {
    padding-left: 30px;
    padding-right: 30px;
    &__title {
      font-size: 39px;
      line-height: 50px;
    }

    &__category {
      flex-wrap: wrap;
    }

    &__item-cat {
      flex: 0 0 100%;
      text-align: center;
      margin-bottom: -150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__subtitle {
      font-size: 18px;
      line-height: 27px;
    }

    &__item-text {
      font-size: 17px;
    }
  }

  .finance-main {
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;

    &__title {
      font-size: 39px;
      padding-top: 100px;
      margin-top: -20px;
    }

    &__line {
      margin-bottom: 80px;
    }

    &__text-cont {
      max-width: 60%;
      padding-right: 30px;
    }

    &__text {
      font-size: 17px;
      line-height: 26px;
    }
  }
}

@media (max-width: 880px) {
  .account-main-i{
    height: 130px;
  }
}

@media (max-width: 776px) {
  .personal__welcome {
    font-size: 20px;
  }
  .finance__nav {
    top: 70px;
    left: 15px;
  }

  .container-table-cred {
    margin-top: -40px;
  }
  .account-main-i{
    height: 100px;
    overflow: hidden;
  }
  .personal__register-status,  .personal__your-name {
    font-size: 15px;
      }

      .account-img-main{
        margin-top: -40px;
        width: 300px;
        overflow: hidden;
      }
}


@media (max-width: 650px) {
  .personal {
    padding-top: 0px;
    padding-bottom: 30px;
    margin-top: -20px;

    &__mobile-menu{
      display: flex;
      margin-bottom: 20px;
    }

    &__img-cont{
      margin-top: 36px;
      
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }

      &__container {
        width: 100%;
          padding-right: 0px;
          padding-left: 0px;
         
      } 
    
      &__panel {
        left: -300px;
          width: 270px;
          padding-bottom: 60px;
          background: #FFFFFF;
          height: 100vh;
    box-shadow: none;
    top: 0;
    z-index: 2;
    position: fixed;
    transition: top 1s ease-out 0.5s;
    overflow: scroll;

      }
    &__panel-ul{
      margin-top: 10px;
    } 
    
      &__frame {
          width: 100%;
          background: #FFFFFF;
    box-shadow:none;
    padding-bottom: 0px;
      }
&__register-status{
  margin-top: 0;
}
      &__welcome {
        margin-top: -25px;
              }
    }



    
.finance-open {
 


  &__sticer-cont-rabat{
    min-width: 55px;
    min-height: 26px ;
    border-bottom-right-radius: 20px;
    top: 0px;
  }

  &__sticker {
    font-size: 14px;
  }




&__sticer-cont-nic{
  top: -10px;
  min-width: 73px;
  min-height: 45px;
  background-size: 73px 45px;
  background-repeat: no-repeat;
}

&__sticer-cont-promocja{
  top: 0px;
  min-width: 75px;
  min-height: 22px;
}

&__sticer-cont-podarunkowa{
  top: 0px;
  min-width: 130px;
  min-height: 20px;
background: #FECA57;
border-radius: 100px;
}
}
}



@media (max-width: 550px) {
  .ticket__item-first{
margin-top: 0;
  }
  .ticket {
    padding-top: 0px;
    &__item {
      min-height: 100px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 20px;
      &:hover .ticket__item-left-img {
        transform: none;
      }
      &:hover .ticket__item-right-img {
        transform: none;
      }
    }

    &__item-left {
      min-height: 50px;
      width: 300px;
      &::before {
        display: none;
        // top: 3px;
        // right: 50%;
        // transform: rotate(90deg);
      }
    }

    &__item-left-img {
      width: 130px;
    }

    &__item-right {
      width: 300px;
    }

    &__item-right-img {
      width: 270px;
    }
  }

  .finance-open__time {
    margin-top: -55px;
  }

  .finance-open {
    &__lp-item {
      margin-top: 30px;
      flex-direction: column;
      padding-bottom: 20px;
      padding-right: 10px;
    }

    &__img-block {
      width: 90%;
      margin: 30px auto;
      text-align: center;
    }

    &__text-block {
      width: 90%;
      margin-top: 20px;
      margin: 0 auto;
    }

    &__tb-title {
      font-size: 18px;
      text-align: center;
    }

    &__tb-list {
      font-size: 16px;
    }

    &__right-part {
      flex-direction: column;
    }

    &__time {
      width: 100%;
    }
    &__currency-block {
      width: 100%;
    }
  }

  .finance__nav {
    font-size: 12px;
    top: 55px;
  }

  .finance__item-cont-img {
    width: 80px;
    height: 80px;
  }
  .finance__item-img {
    width: 45px;
    height: 45px;
  }

  .finance-main {
    &__flex-cont {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &__text-cont {
      max-width: 100%;
      padding-right: 0px;
      text-align: center;
      margin: 0 auto;
      margin-top: -80px;
    }

    &__text {
      font-family: "Cuprum-Regular";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
    }
  }

  .finance {
    padding-left: 15px;
    padding-right: 15px;
    &__title {
      font-size: 30px;
      line-height: 40px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 25px;
    }

    &__item-text {
      font-size: 16px;
    }
  }
}

@media (max-width: 380px) {
  .finance__category {
    justify-content: space-between;
  }
}
