
.personal__list.active-list{
  color: #77CCF9;
}
.personal {
padding-top: 50px;
padding-bottom: 50px;
  &__container {
      margin-top: 129px;
      max-width: 1550px;
      margin: 0 auto;
      padding-right: 20px;
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  } 

  &__panel {
      width: 25%;
      padding-bottom: 40px;
      background: #FFFFFF;
      top: 0;
box-shadow: 0px 0px 30px rgba(30, 30, 30, 0.1);
position: sticky;
  }
&__panel-ul{
  margin-top: 40px;
}
  &__list {
    font-family: "Cuprum-Bold";
font-size: 16px;
line-height: 30px;
color: #063453;
margin-left: 80px;
position: relative;
margin-top: 16px;
color: #063453;
list-style-type: none;
transition: all .5s ease-out;
&:before{
position: absolute;
content: '';
position: absolute;
width: 16px;
height: 16px;
top: 7px;
left: -37px;
transition: all .5s ease-out;

}
&:hover{
  color: #77CCF9;

}
  }

  &__frame {
      width: 74%;
      background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(30, 30, 30, 0.1);
padding-bottom: 90px;
  }

  &__img-cont {
      width: 80%;
      margin: 0 auto;
      margin-top: 50px;
  }

  &__main-img {
      height: 290px;
      background: #000;
  }



  &__welcome, &__register-status,  &__your-name {
    font-family: "Khula-Regular", "Arial", sans-serif;
font-weight: normal;
color: #063453;
text-align: center;
padding-left: 20px;
padding-right: 20px;
  }

  &__welcome {
    margin-top: -20px;
      font-size: 30px;
          }
  &__welcome--pink {
    font-family: "Khula-Bold";
      color: #00B0F3;
  }

  &__register-status,  &__your-name {
font-size: 18px;
  }

  &__register-status {
    
    margin-top: 30px;
          }
          &__welcome--pink-reg{
            font-family: "Khula-Regular", "Arial", sans-serif;
          }

  &__your-name {
    font-family: "Khula-Bold";
      margin-top: 15px;
  
  }
  &__frame-cont{
      width: 90%;
      margin: 0 auto;
  }

  &__form-title {
    font-family: "Khula-Bold";
font-size: 30px;
color: #063453;
margin-top: 40px;
  }

  &__input {
      max-width: 370px;
      width: 100%;
      background: #F2F4F5;
border-radius: 8px;
height: 58px;
font-size: 18px;
line-height: 26px;
color: #464646;
border: none;
padding-left: 30px;
padding-right: 30px;
  }

 

  &__line {
      width: 100%;
      height: 2px;
      background: #ADD9F4;
  }


  &__form-text {
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: normal;
font-size: 18px;
line-height: 26px;
margin-left: 35px;
color: #464646;
  }


  &__less-title {
          margin-top: 50px;
          margin-bottom: 40px;
          font-weight: bold;
font-size: 18px;
color: #063453;
      }
      &__account-photo{
          width: 180px;
          height: 180px;
          background: #000;
      }
      &__form{
          margin-top: 50px;
      }
}

.personal__panel-ul a:nth-child(1) li{
  transition: all 1s ease-out;
  &:before{
    background:url(../img/svg/account-mune-icon-1.svg);
    }
    &:hover{
      &:before{
        background:url(../img/svg/account-mune-icon-1-hov.svg);
        }
    }
}
.personal__panel-ul a:nth-child(2) li{
  &:before{
    background:url(../img/svg/account-mune-icon-2.svg);
    }
    &:hover{
      &:before{
        background:url(../img/svg/account-mune-icon-2-hov.svg);
        }
    }
}
.personal__panel-ul a:nth-child(3)  li{
  &:before{
    background:url(../img/svg/account-mune-icon-3.svg);
    }
    &:hover{
      &:before{
        background:url(../img/svg/account-mune-icon-3-hov.svg);
        }
    }
}
.personal__panel-ul a:nth-child(4) li{
  &:before{
    background:url(../img/svg/account-mune-icon-4.svg);
    }
    &:hover{
      &:before{
        background:url(../img/svg/account-mune-icon-4-hov.svg);
        }
    }
}
.personal__panel-ul a:nth-child(5) li{
  &:before{
    background:url(../img/svg/account-mune-icon-5.svg);
    }
    &:hover{
      &:before{
        background:url(../img/svg/account-mune-icon-5-hov.svg);
        }
    }
}
.personal__panel-ul a:nth-child(6) li{
  &:before{
    background:url(../img/svg/account-mune-icon-6.svg);
    }
    &:hover{
      &:before{
        background:url(../img/svg/account-mune-icon-6-hov.svg);
        }
    }
}
.personal__panel-ul a:nth-child(7) li{
  &:before{
    background:url(../img/svg/account-mune-icon-7.svg);
    }
    &:hover{
      &:before{
        background:url(../img/svg/account-mune-icon-7–hov.svg);
        }
    }
}
.personal__panel-ul a:nth-child(8) li{
  &:before{
    background:url(../img/svg/account-mune-icon-8.svg);
    }
    &:hover{
      &:before{
        background:url(../img/svg/account-mune-icon-8-hov.svg);
        }
    }
}
.personal__panel-ul a:nth-child(9) li{
  &:before{
    background:url(../img/svg/account-mune-icon-9.svg);
    }
    &:hover{
      &:before{
        background:url(../img/svg/account-mune-icon-9-hov.svg);
        }
    }
}
.personal__panel-ul a:nth-child(10) li{
  &:before{
    background:url(../img/svg/account-mune-icon-10.svg);
    }
    &:hover{
      &:before{
        background:url(../img/svg/account-mune-icon-10-hov.svg);
        }
    }
}


.account-img-main{
  margin-top: 20px;
}
.account-main-i{
  height: 300px;
}