.personal__container-document{
  .personal__real-table-cont{
    margin-top: 30px;
  }

  .personal__real-col-edi,.personal__real-col-edit{
    flex: 0 0 20%;
  }
  .personal__real-col-nam, .personal__real-col-name{
    flex: 0 0 45%;
  }
  .personal__real-col-ca, .personal__real-col-cat{
    flex: 0 0 30%;
  }
}

.document {
  &__button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  &__button-start {
    margin: 10px;
    max-width: 433px;
    width: 100%;
background: #063453;
border-radius: 8px;
height: 55px;
display: flex;
justify-content: center;
align-items: center;
&:hover .document__button-text{
  color: #77CCF9;
}
&:hover  svg path{
  fill: #77CCF9;
}
  }

  &__button-text {
    display: flex;
    justify-content: center;
    align-items: center;
font-size: 18px;
font-family: "Cuprum-Bold";
color: #FFFFFF;
transition: all .3s ease-out;
  }

  &__button-svg {
    margin-right: 20px;
    svg path{
      transition: all .3s ease-out;
      fill: #FFF;
    }
  }
}



.personal__container-doc-generation{


  .legalization-documents__item::after {

background-position-x: right;
padding-right: 5px;

  }

  .personal__container-doc-generation .legalization-documents__item::after {
  
}


  .legalization-documents {
background: #fff;
.container{
  width: 100%;
  padding: 50px 0;

}
  }
  .legalization-documents__list{
    width: 100%;
  }
}



.documents__add-new-file {
.df-cont{
  display: flex;
  align-items: center;
}
.personal__form-text {
  max-width: 370px;
}

.personal__input {
margin-bottom: 0;
margin-right: 20px;
}

.personal__button {
margin-top: 0px;
}

.personal__button-last {
  margin-top: 30px;
  }

.personal__button-add-white {
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      margin-right: 10px;
    }
  }
  svg path{
    transition: all .3s ease-out;
    fill: #FFF;
  }
  &:hover svg path{
    fill: #063453;
  }
}
}

.doc__button-container{
opacity: 0;
display: none;
margin-top: 10px;
margin-bottom: 10px;
justify-content: center;
align-items: center;
.doc__button{
  font-size: 18px;

max-width: 226px;
height: 58px;
width: 100%;
border: 2px solid #063453;
border-radius: 8px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
color: #063453;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  font-family: "Cuprum-Bold";
  text-transform: uppercase;
  &:hover{
    transition: all .3s ease-out;
    background-color: #DFE5EC;
  }
}
}

.doc__button-container.active{
  display: flex;
opacity: 1;
}

.personal__button.personal__button-add-realty.personal__button-add-white{
margin-top: 0 !important;
}


.personal-data__btn{
  display: block;
  max-width: 277px;
  width: 100%;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;
line-height: 18px;
font-family: "Cuprum-Bold";
border-radius: 8px;
transition: all .3s ease-out;
margin-left: 10px;
margin-top: 0;
border: none;
span svg path{
  transition: all .3s ease-out;
}

span{
  margin-right: 8px;
  transition: all .3s ease-out;
}
}


.personal-data__btn-save{
  background: #00AB5B;
  margin-left: 20px;
  color: #FFFFFF;
  &:hover span svg path{
    fill: #ADD9F4;
  }
  &:hover{
    color: #ADD9F4;
  }
}

.personal-data__btn-upload.personal-data__btn{
  
  border: 1px solid #00AB5B;
  background: #fff;
  color: #00AB5B;
  &:hover span svg path{
    fill: #ADD9F4;
  }
  &:hover{
    color: rgb(6, 52, 83);
    border: 1px solid rgb(6, 52, 83);
  }
  &:hover span svg path{
    fill: rgb(6, 52, 83);
  }
}

.personal-data__btn-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-data__cont{
  display: flex;
  justify-content: space-between;
  align-items: center;

width: 60%;
}





.personal-data {

  &__container-fb {
    position: relative;
z-index: 2;
 background: #F2F2F2;
  }

  &__bg{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff;
  }

  &__main-bg{
    box-shadow: 0px 0px 30px rgba(30, 30, 30, 0.1);
    max-width: 1500px;
    margin: 0 auto;
  }

  &__container__white {
    background: #fff;
  }

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__btn-document{
padding-top: 50px;
padding-bottom: 50px;
  }

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__up-text {
    margin-top: 0;
    line-height: 30px;
color: #263238;
font-family: "Khula-Bold", "Arial", sans-serif;
font-weight: bold;
padding-bottom: 50px;
padding-top: 50px;
font-size: 16px;
  }



  &__btn-back {
    max-width: 180px;
    span{
      margin-top: 4px;
    }
  }

  

  &__next-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  &__next-text {
    width: 7%;
    font-size: 14px;
line-height: 18px;
color: #00B0F3;
font-family: "Cuprum-Bold";
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
padding-right: 5px;
&:first-child{
justify-content: flex-start;
}
&:last-child{
  justify-content: flex-end;
}
&:hover{
  color: #77CCF9;
  transition: all .3s ease-out;
}
  }

  &__next-line {
    width: 100%;
height: 1px;
background: #ADD9F4;;
  }
}



.instruction {
background: #e9edef;
padding-top: 40px;
padding-bottom: 40px;



  &__container {
    box-shadow: 0px 0px 30px rgba(30, 30, 30, 0.1);
    max-width: 1506px;
    margin: 0 auto;
    padding: 40px;
    background: #FFFFFF;
  }

  &__border-text {
    font-family: "Khula-Regular", "Arial", sans-serif;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: center;
color: #263238;
border: 1px solid #DDDDDD;
padding: 10px;
margin-bottom: 10px;
  }

  h1{
    font-family: "Khula-Bold", "Arial", sans-serif;
    font-weight: bold;
font-size: 24px;
line-height: 36px;
color: #263238;
margin-top: 30px;
margin-bottom: 20px;
  }

  h3{
    margin-top: 20px;
    font-family: "Khula-Bold", "Arial", sans-serif;
    font-weight: bold;
font-size: 16px;
line-height: 30px;
color: #263238;
margin-bottom: 0;
  }
  p{
    margin-top: 0px;

    font-family: "Khula-Regular", "Arial", sans-serif;
font-size: 16px;
line-height: 30px;
color: #263238;
  }
}


.personal__document-data{
  .faq, .faq__questions-block{
    width: 100%;
  }
  .faq__list{
    margin-top: 20px;
  }

  .faq__item{
    border: none;
    margin-bottom: 20px;
  }

  .panel{
    padding: 0;
  }

  .accordion{
    margin-left: 50px;

   span{
    font-family: "Cuprum-Bold";
    font-size: 18px;
    color: #063453;
   }

    &:after{
      transition: all .3s ease-out;
      transform: rotate(0deg);
      right: auto;
      left: -30px;
      top: calc(50% - 10px);
      background: url(../img/svg/accordion-document.svg) no-repeat center;
    }
  }

  .accordion.active{
    &:after{
     transform: rotate(180deg);
    }
  }
  .personal__line-first{
    margin-top: 5px;
   margin-bottom: 30px;
  }
 
}


.personal-accordion {


  .personal__line-first-marg{
    margin-bottom: 0;
  }

&__flex-date{
margin-bottom: 25px;
}

.personal__input-date{
  margin-top: -7px;
  max-width: 100%;
  width: 100%;
}
  
&__flex-last{
 height: 50px;
 width: 1px;
 background: #fff;
}

&__flex-line-text{
  margin-bottom: 30px;
}

.main__search{
  margin-top: -10px;
  max-width: 403px;
}

.personal__radio-two-container{
  margin-top: 65px;
  margin-left: 20px;
}
.personal__radio-right-part-over{
  display: block;
  label{
margin-top: 9px;
margin-bottom: 9px;
  }
}

&__flex-line{
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 20px;
  padding-top: 45px;
  .personal-accordion__inp-wrapper{
    display: flex;
    align-items: center;
  }
}

&__text-only.personal-accordion__text{
  margin-left: 0;
}

&__inp-wrapper-center{
  display: flex;
  align-items: center;
}

&__flex-selec.personal-accordion__flex{
  margin-top: 5px;
  margin-bottom: 25px;
}

&__flex-selec-one.personal-accordion__flex{
  margin-top: -15px;
  margin-bottom: 25px;
}

  &__flex {
    display: flex;
    justify-content: flex-start;
    margin-top: -20px;
    flex-wrap: wrap;
  }

  &__inp-wrapper {
    max-width: 403px;
    width: 100%;
  &:first-child{
    margin-right: 30px;
  }

  .select-dropdown{
    margin-top: -10px;
  }

  .select-dropdown__button{
    height: 63px;
    max-width: 403px;
  }
  }

  &__text {
    font-size: 18px;
line-height: 26px;
color: #063453 !important;
margin-left: 20px;
margin-bottom: 13px;
span{
  color: #DC4955;
}
  }

  &__inp {
    width: 100%;
    margin-top: -10px;
  }
}



.document__form-text{
  font-family: "Cuprum-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
line-height: 26px;
color: #464646;
max-width: 370px;
padding-right: 20px;
}


.document__form-input{
  max-width: 490px;
  width: 100%;
// height: 40px;
display: flex;
align-items: center;
padding: 20px;
  font-family: "Cuprum-Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #464646;
background: #F2F4F5;
border-radius: 8px;
// border: none;
margin-bottom: 0 !important;
&::placeholder {
  color: #7B8A99
}
}


// .document__form-input--yellow.document__form-input{
//   // border: 1px solid #ffb436;
// }

.document__form-input--green.document__form-input{
  border-color: #2ecc71;
}


.document__form-select{
  width: 65%;
height: 40px;
display: flex;
align-items: center;
padding: 8px;
  font-family: "Cuprum-Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #464646;
background: #F2F4F5;
border-radius: 8px;
border: none;

}


.personal-data__container{
  padding-bottom: 40px;
}

.document__input-container{
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 35px;
padding-bottom: 35px;
border-top:1px solid #DDDDDD;



}

.document__two-input-container{

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  input:first-child{
    margin-bottom: 15px !important; 
  }

.personal__button{
max-width: 488px ;
text-transform: capitalize;
}

  .select-dropdown{
    margin: 0;
    max-width: 490px ;
    width: 100% ;
    button{
      max-width: 100% ;
    }
    .select-dropdown__list {
      max-width: 490px;
    }

}





}

.document__two-radio-container{
  max-width: 490px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  label{
    margin: 10px;
  }
}

.document__form-text--bold{
  font-family: "Cuprum-Bold";
  color: #063453;
  max-width: none;
}

.document__input-container-sub{
  border: none;
  padding: 10px 0 ;
}

.document__form-input--short{
  max-width: 130px;
}

.document__form-input--short-cont{
max-width: 490px;
width: 100%;
display: flex;justify-content: flex-start;
}

.document__container-part-form{
  padding-bottom: 30px;
padding-top: 20px;
  border-top: 1px solid #DDDDDD;
}



.document__color-container{


.select-dropdown__list-item{
  position: relative;
  
  &:after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    right: 15px;
    top: 13px;
    // background: #000;
  }
  &:nth-child(1):after {
      background: green;
    }

    &:nth-child(2):after {
      background: #00f
    }
    &:nth-child(3):after {
      background: #964b00;
    }
    &:nth-child(4):after {
      background: #783c00;
    }
    &:nth-child(5):after {
      background: #ce761e;
    }
    &:nth-child(6):after {
      background: #ffbf00;
    }
    &:nth-child(7):after {
      background: gray;
    }
    &:nth-child(8):after {
      background: #000;
    }

  }

}

.document__larg-input-cont{
  margin-top: -20px;
  margin-bottom: 35px;
  .select-dropdown__button, .select-dropdown__list {
    max-width: none;
  }
 .document__form-text--mvn{
   max-width: none;
   padding-left: 20px;
   padding-right: 20px;
 }
}

.legal-form__personal-data-list{
  list-style-type: none;
}


.page-inner-document.hidden{
  display: none;
}

.page-inner-document{
  display: block;
}


.document__container-in-polish{
  .document__input-container{
    position: relative;
  }
.email-add-worker-item{
margin-top: 25px;
padding-top: 25px;
border-top: 1px solid #DDDDDD;
&:first-child{
  border: none;
}
}
.remove-worker-email-svg{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.service-add-worker-email:hover {
  transform: none;
}
}


.document__form-text--bold-line{
  padding-top: 20px;
  border-top: 1px solid #DDDDDD;
}

.document__container-part-form-relative{
  display: none;
}
.document__container-part-form-relative.active{
  display: block;
}
.document__form-text-large{
  width: 100%;
  max-width: none;
  cursor: pointer;
}

.document__input-container  .document__two-radio-container{
padding: 0;

}

.document__input-container  .personal__select-ul-multi{
margin: 0;
max-width: 100%;
}

.document__travel-item{
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #DDDDDD;
  &:first-child{
    border: none;
  }
}

.document__travel-item.hidden{
display: none;
}

.document__input-container{
  position: relative;
}

.document__travel-item .remove-worker-email-svg{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.document__all-width-radio{
  display: flex;
  justify-content: space-around;
}

.document-radio-textarea{
  margin-top: 25px;
}

.document-radio-textarea.hidden{
  display: none;
}